<div class="text-right" style="padding-right: 20px; right: 30px;">
    <div class="panel-heading  ">
        <div class="" print-only>
            <img src="/Content/images/dress-dummy.jpg"  class="print-header-img"/>
        </div>
        <br />
        <h1 print-only class="panel-title print-header"> متجر سامر </h1><br />
        <div class="print-header-details">

            <h6 print-only class=""> العنوان : 7 ش كليوبترا </h6><br />
            <h6 print-only class=""> تليفون : 11111111 </h6><br />

        </div>
        <hr print-only />
    </div>

</div>