
<section class="mainbar" data-ng-controller="orders as vm">
    <div class="container-fluid">
        
        <div class="well well-lg text-right">
            <h2 class="blue">
                {{vm.header.title}}
                <i class="{{vm.header.logo}}"></i>
            </h2>
        </div>
        <div class="alert  alert-notify  text-right" role="alert">
            {{vm.rowCollection.length>0?vm.message:'لا يوجد نتائج'}}
        </div>
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div data-cc-spinner></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>
       
        <div class="col-md-12 text-right" >
            <button type="button" class="btn    btn-primary" ng-click="vm.createNew()" 
                    data-toggle="modal" data-target="#myModal"> إضافة فاتورة بيع  جديدة 
                <i class="fa fa-pencil"></i>
            </button>
            <table   st-table="displayedCollection" 
                     st-safe-src="vm.rowCollection" 
                   class="table table-bordered  table-striped table-hover table-responsive  ">
                <thead >
      
                <tr>
                    <th class="col-xs-2 text-right">أجمالى  الفاتورة</th>
                    <th class="col-xs-2 text-right">تاريخ الفاتورة</th>
                    <th class="col-xs-6 text-right">اسم العميل</th>
                    <th class="col-xs-2 text-right">رقم  الفاتورة</th>
                    <th class="col-xs-2 text-right"></th>




                </tr>
                </thead>

                <tbody>
                <tr ng-show="vm.rowCollection.length >0" ng-repeat="row in displayedCollection">
        
                   
                   
                    <td>   L.E      {{row.totalPrice}}              </td>
                    <td>{{row.orderDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{row.clientName}}</td>
                    <td>{{row.id}}</td>
                    <td >
                        <div class="input-group-btn">
                       

                            <button type="button" ng-if="row.open"
                                    class="btn btn-danger btn-xs" 
                                    ng-click="vm.getOrder(row.id)"
                                    data-toggle="modal" 
                                    data-target="#deleteModal">حذف
                                <i class="fa fa-remove fa-xs"></i>
                            </button>
                            <button type="button" ng-if="row.open"
                                    ng-click="vm.getOrder(row.id)" 
                                    class="btn btn-primary btn-xs" 
                                    data-toggle="modal" 
                                    data-target="#myModal">تعديل
                                <i class="fa fa-edit fa-xs"></i>
                            </button>
                            <button ng-click="vm.nextPage(row.id)"
                                   class="btn btn-default btn-xs" 
                                >تفاصيل
                                <i class="fa fa-info fa-xs"></i>
                            </button>
                        </div>
                    </td>


                </tr>
                <tr ng-hide="vm.rowCollection.length>0">
                    
                    <td  colspan="10">
                        لا يوجد بضائع مسجلة
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
    
    
    
    
    <div data-ng-include="'/app/controller/selles/order/meta/createmodal.html'" ></div>
    
    <div data-ng-include="'/app/controller/selles/order/meta/deletemodal.html'"></div>
</section>
